.venv
curricula/*
train_10M
train_100M
__pycache__
temp.ipynb
models/*
wandb/*
evaluation_data/*
results/*
.env

slurm-*.out
conda*.txt
babylm_data_preprocessing
influence/*
babylm_data_preprocessing

gradients/
influence/
old_logs
babylm_data_preprocessing
.conda
difficulty/*
difficulty_ngram/*
difficulty_metrics/*
launch.json
stream.py
get_olmo_checkpoints.ipynb
babylm_data_preprocessing
babylm
mean_influence/*
influene_old/*
.gitignore
babylm_data_preprocessing
influence.tar
gradients_temp/*
tulu_splitting.ipynb
results_confidence/
OLMo-2-1124-7B-SFT.tar
test
OLMo-2-1124-7B-SFT.tar
slurm_process_gradients_combined.sh
start_jupyterlab.sbatch
mean_influence_divided_by_len_test/*
verb_confidence_exp_t/
noise/*
results_noise
