.venv
curricula/*
train_10M
train_100M
__pycache__
temp.ipynb
models/*
wandb/*
evaluation_data/*
results/*
.env

slurm-*.out
conda*.txt
babylm_data_preprocessing
influence/*
babylm_data_preprocessing

gradients/
influence/
old_logs
babylm_data_preprocessing
.conda
difficulty/*
difficulty_ngram/*
difficulty_metrics/*
launch.json
stream.py
get_olmo_checkpoints.ipynb
babylm_data_preprocessing
babylm
mean_influence/*
influence.tar
