ipykernel
datasets
python-dotenv
scipy
matplotlib
transformers==4.47.0
ipywidgets
scikit-learn
accelerate
wandb
huggingface_hub
seaborn
swifter
nltk

bitsandbytes
dill
evaluate
fsspec
hf-transfer
lexical-diversity
multiprocess
sympy

trl

spacy

jupyterlab